<section class="cta content"> 
<p><strong>BeHealthy with Joan Goldsmith can be contacted via email</strong></p>
    <div class="ctacallwrapper">
        <ul class="ctalink">
        <li>
        <a title="Email joan@behealthy.net.au" alt="Email joan@behealthy.net.au" href="mailto:joan@behealthy.net.au">
        <img src="/img/email.svg" alt="Call BeHealthy with Joan Goldsmith" title="Call BeHealthy with Joan Goldsmith"><span class="phonetext">joan@behealthy.net.au</span></a>
        </li>
        </ul>
        </div>

<p><strong><h3 tabindex="-1">Consultations are held via Zoom or Skype.</h3>
</section>