<section class="cta content"> 
<p><strong>BeHealthy with Joan Goldsmith can be contacted via email</strong></p>



        <div class="ctawrapper">
            <ul class="menusocial">
            <li><a title="Call BeHealthy with Joan Goldsmith" alt="Call BeHealthy with Joan Goldsmith" href="tel:+61412614617"><img src="/img/phone.svg" alt="Call BeHealthy with Joan Goldsmith" title="Call BeHealthy with Joan Goldsmith"><span class="phonetext">0412 614 617</span></a></li>
            </ul>
            </div>
            <div class="ctawrapper">
            <ul class="menusocial">
            <li><a title="Call BeHealthy with Joan Goldsmith" alt="Call BeHealthy with Joan Goldsmith" href="tel:+61412614617"><img src="/img/email.svg" alt="Call BeHealthy with Joan Goldsmith" title="Call BeHealthy with Joan Goldsmith"><span class="phonetext">0412 614 617</span></a></li>
            </ul>
            </div>

<p><strong><h3 tabindex="-1">Consultations are held via Zoom or Skype.</h3>
</section>