{% set navPages = collections.all | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li{% if entry.url == page.url %} class="active-class"{% endif %}>
<a href="{{ entry.url }}" title="{{ entry.title }}" alt="{{ entry.title }}">{{ entry.title }}</a>



</li>
{%- endmacro %}
<ul class="off-canvas-list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
<li>
<a title="Email joan@behealthy.net.au" alt="Email joan@behealthy.net.au" href="mailto:joan@behealthy.net.au">
<span class="iconimg"><img src="/img/email.svg" alt="Call BeHealthy with Joan Goldsmith" title="Call BeHealthy with Joan Goldsmith"></span><span class="phonetext">joan@behealthy.net.au</span></a>
</li>
<li><a title="Call BeHealthy with Joan Goldsmith" alt="Call BeHealthy with Joan Goldsmith" href="tel:+61412614617">
<span class="iconimg"><img src="/img/phone.svg" alt="Call BeHealthy with Joan Goldsmith" title="Call BeHealthy with Joan Goldsmith"></span><span class="phonetext">0412 614 617</span></a>
</li>
</ul>



