<nav class="offcanvas">
<button class="close-nav">Close X</button>
<h3>Menu</h3>
<div class="mobilemenu">
{% include "components/nav-side.njk" %}
<div class="mobilesocialwrapper">
<ul class="menusocial">
<li><a title="Call BeHealthy with Joan Goldsmith" alt="Call BeHealthy with Joan Goldsmith" href="tel:+61412614617"><img src="/img/phone.svg" alt="Call BeHealthy with Joan Goldsmith" title="Call BeHealthy with Joan Goldsmith"><span class="phonetext">0412 614 617</span></a></li>
</ul>
</div>
<div class="mobilesocialwrapper">
<ul class="menusocial">
 <li><a title="Email BeHealthy with Joan Goldsmith" alt="Email BeHealthy with Joan Goldsmith" href="mailto:joan@behealthy.net.au"><img src="/img/email-34.svg" alt="Email BeHealthy with Joan Goldsmith" title="Email BeHealthy with Joan Goldsmith"><span class="phonetext">joan@behealthy.net.au</span></a></li>
</ul>
</div>
</div>
</nav>