{% extends "layouts/default.njk" %}

{% block hero %}
{% include "components/hero.njk" %}
{% endblock %}

{% block content %}
<div class="caption-text"><h1><span>{{ title }}</span></h1></div>
<main class="content">  

{{ layoutContent | safe }}

<div class="servicescontent">
<h2>BeHealthy with Joan Goldsmith assits you in developing a healthy body to fight disease, rather than just treat the symptoms of disease.</h2>
<p>Joan Goldsmith has more than 30 years’ experience as a naturopath and is very highly regarded within the industry. She is a member of the Australian Traditional Medicine Society (ATMS) and is a registered practitioner with all major health funds. Joan is also a member of the Australian Natural Therapists Association (ANTA) and the Australian Society of Clinical Hypnotherapists (ASCH).</p>
    
<h2>BeHealthy with Joan Goldsmith is an online only business. We do not have an accessible physical location.</h2>
</div>


{% include "components/global/calltoaction.html" %}
</main>
{% endblock %}

